#toc-content {
    display: none;
    background-color: #e9ecef;
    height: 65vh;
    padding-top: 10vh;
    text-align: center;
  }
#toc-toggle {
    background-color: #6394A1;
    cursor: pointer;
    color: #fff;
    font-size:20px;
    display: inline-block;
    font-family: "jua";
    font-size: 1.2vw;
    width: 10vw;
    height: 5vh;
    padding-top: 3vh;
    text-align: center;
    border-radius:25px ;
    margin-right: 1%;
  }
#toc-toggle:hover {
    text-decoration: none;

  }
  #toc-content1 {
    display: none;
    background-color: #e9ecef;
    height: 65vh;
    padding-top: 10vh;
    padding-left: 3%;
  }
#toc-toggle1 {
    background-color: #6394A1;
    cursor: pointer;
    color: #fff;
    font-size:20px;
    display: inline-block;
    font-family: "jua";
    font-size: 1.2vw;
    width: 10vw;
    height: 5vh;
    padding-top: 3vh;
    text-align: center;
    border-radius:25px ;
    margin-right: 1%;
  }
#toc-toggle1:hover {
    text-decoration: none;

  }
  #toc-content2 {
    display: none;
    background-color: #e9ecef;
    height: 65vh;
    padding-top: 10vh;
    padding-left: 3%;
  }
#toc-toggle2 {
    background-color: #6394A1;
    cursor: pointer;
    color: #fff;
    font-size:20px;
    display: inline-block;
    font-family: "jua";
    font-size: 1.2vw;
    width: 10vw;
    height: 5vh;
    padding-top: 3vh;
    text-align: center;
    border-radius:25px ;
    margin-right: 1%;
  }
#toc-toggle2:hover {
    text-decoration: none;

  }
  #toc-content3 {
    display: none;
    background-color: #e9ecef;
    height: 65vh;
    padding-top: 10vh;
    padding-left: 3%;
  }
#toc-toggle3 {
    background-color: #6394A1;
    cursor: pointer;
    color: #fff;
    font-size:20px;
    display: inline-block;
    font-family: "jua";
    font-size: 1.2vw;
    width: 10vw;
    height: 5vh;
    padding-top: 3vh;
    text-align: center;
    border-radius:25px ;
    margin-right: 1%;
  }
#toc-toggle3:hover {
    text-decoration: none;

  }
